
/*850px---------------------------------------------*/
@media screen and (max-width:850px){
    
      .greetings{
        left: 14%;
    }
    
}

/*end of 850px---------------------------------------------*/



/*730px---------------------------------------------*/
@media screen and (max-width:730px){
    
      .greetings h3{
       font-size: 2.1em;
    }
    
}
/*end of 730px---------------------------------------------*/


/*620px --------------------------------------------------*/
@media screen and (max-width:620px){
      .greetings h3{
       font-size: 1.8em;
    }
    
}
/*end of 620px-------------------------------------------*/


/*525px --------------------------------------------------*/
@media screen and (max-width:525px){
      .greetings h3{
       font-size: 1.6em;
    }
    .skill_title>p{
        font-size: 1em;
    }
    
    .about_text .cols{
        font-size: 0.9em;
    }
    
}
/*end of 525px-------------------------------------------*/



/*460px --------------------------------------------------*/
@media screen and (max-width:460px){
      .greetings h3{
       font-size: 1.4em;
    }
    
}
/*end of 460px-------------------------------------------*/



/*450px---------------------------------------------*/
@media screen and (max-width:450px){
     .landing_page{
        max-height: 70vh !important;
         
    }
    
    .greetings{
        left: 6%;
    }
    .greetings h3{
        font-size: 1.5em;
      
    }
    
}

/*end of 450px--------------------------------------------*/

/*3850px --------------------------------------------------*/
@media screen and (max-width:385px){
      .greetings h3{
       font-size: 1.3em;
    }
    
}
/*end of 385px-------------------------------------------*/


