
/*styling the header ----------------------------------*/
.wrapper nav{
   margin-top: 21px;
    
        
}

.wrapper nav.static{
     
    line-height: 12px;
    z-index: 9999;
    
}

.wrapper nav.static.fix{
    background-color: #191919 !important;
   
/*
    border-bottom: 1px solid #222 !important;
    box-shadow: rgb(38, 38, 38) 0px 1px 0px;
    background-color: rgb(25, 25, 25) !important;
     background-image: -webkit-linear-gradient(top, rgb(40, 40, 40), rgb(25, 25, 25));
*/
    line-height: 12px;
    z-index: 9999;
    border-bottom: 1px solid rgb(34, 34, 34);
    background-repeat: no-repeat;
    background-color: #212529 !important;
    margin-top: 0px;
}


nav.static a {
    color: #7f7f7f !important;
     color: rgba(200, 200, 200,1) !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    font-size: 0.875rem;
    font-family: sans-serif cursive !important;
    text-transform: uppercase;
}
nav.static.fix a{
     /*color: #3b3b3b !important;
     color: rgba(204, 204, 204, 0.5) !important;*/
    color:#BF7E00;
}
nav.static  a:hover{
    color:rgba(255,255,255,1) !important;
    
}
nav.static.fix  a:hover{
    color:rgba(255,255,255,0.7) !important;
    
}

nav a.navbar-brand{
    color:#BF7E00 !important;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    font-size: 1.25rem;
}

/*end header---------------------*/

/*styling the landing page ------------------*/

.landing_page{
/*
    display: block;
    height: 100vh;
    width: 100vw;
    
    background-image: url(images/landing.jpg);
    background-size: cover;
*/
    
display: block;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/landing.jpg");
  background-size: cover;
  height: 100vh;
  
    
    
}

/*end landing page----------------------------------------*/

/* styling greetings--------------------------------------*/
.greetings{
    position: absolute;
    top:35%;
    left: 25%;
    text-align: center;
   padding-top: 1px;
    
    color: #fff;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
   
}
.greetings h3{
    font-size: 40px; 
    margin-bottom: 10px;
}
.greetings a{
    padding: 10px;
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    border:1px solid #fff;
    background-color: #BF7E00;
    border-color: #BF7E00;
    opacity: 0.8;
    
}
.greetings a:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.greetings h3 span{
    padding: 0;
    margin: -6px;
    font-size: 40px;
}
.greetings h3 span:hover{
    color:#00B233;
}


/*end greetings--------------------------------------------*/

/*styling the skills section------------------------------*/


.skills{
   
    box-sizing: border-box;
    padding: 15px;
    margin-top: 130px;
    margin-bottom: 130px;   
}
section.title > p{
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    
    
}

.line{
    width: 2.2em;
    height: 2px;
    background-color:#333;
    margin-top: 3px;
    margin-bottom: 80px;
}

.skills .skill_picture{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 7px auto; 
    width: 2.7em;
    height: 2.7em;
    
    font-size: 40px;
    color: rgba(255,255,255,1);
    background-color: #BF7E00;
    opacity: 0.8;
    border: 1px solid #BF7E00; 
    border-radius: 50%;
    
}

.skills .skill_title{
     color: #333;
    font-weight: 500;
    line-height: 12px;
    margin-top: 25px;
    font-size: 1.35rem;
}
.skills .skill_text {
    color:#888;   
}
.skills .skill_text p{
    font-size: 15px;
    color: #777;
}

.row>div{
    text-align: center;
}



/*end skills section---------------------------------------*/


/*styling the about me section----------------------*/


.about{
    box-sizing: border-box;
    padding: 75px 10px;
    background-color: #f8f9fa!important;
}
.about .about_text{
    color: #6c757d!important;
}
.about .row{
    display: flex;
    justify-content: center;
}
.about .row .cols{
    margin-bottom: 25px;
}
.about .row .resume{
    border: 1px solid; 
    background-color: #FF9D00;
    border-color: #FF9D00;
    color: #333;
    width: 7em;
    padding: 10px;
    font-size: 19px;
    font-weight: 400;
}
.about .row .resume:hover{
    opacity: 0.9;
    font-weight: 200;
    font-size: 20px;
}


/*end of about me -------------------------------------*/